
<!DOCTYPE html>
<html>
  <head>
    <title>Price Estimator</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,600' rel='stylesheet' type='text/css'>
    <link href='/assets/style.css' type='text/css' rel='stylesheet'>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li>Home</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="row clearfix"></div>
    <div class="col-sm-6 search">
      <h3>What are you looking to sell?</h3>

      <%= form_tag("welcome/search", method: "post", id:"formSearch") do %>
    <input type="text" id="keyword" name="keyword" class="input-txt" placeholder="Product name">
    <br>
    <input type="text" id="numberOfResults" name="numberOfResults" class="input-txt" placeholder="How many results?">
    <%= hidden_field_tag(:condition) %>
    <%= submit_tag("Go", id: "searchButton", class: "search-go") %>
    </div>
    <div class="results"></div>


<% end %>
    <script src="/assets/script.js"></script>
  </body>
</html>
