<!DOCTYPE html>
<html>
  <head>
    <title>Price Estimator</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,600' rel='stylesheet' type='text/css'>
    <link href='/assets/style.css' type='text/css' rel='stylesheet'>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li>Home</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="search">
      <h3>What are you looking to sell?</h3>
      <input type="text" id="search-item" class="input-txt">
      <button id="search-go" class="search-go">Go</button>
    </div>
    <div class="results"></div>
    <script src="/assets/script.js"></script>
  </body>
</html>